body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.yellowBg {
  background-color: #f5ce0e;
}

.redBg {
  background-color: #ff5f45;
}

.blueBg {
  background-color: #0798eb;
}

.pinkBg {
  background-color: #fd6c7d;
}

.notFoundBg {
  background-color: #333333;
}

.icons {
  color: #fffcff;
  transition: color 0.3s ease;
}

.icons.mobile {
  color: #fffcff;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.arrow-icon {
  animation: bounce 1.5s infinite;
  color: #fffcff;
}

.icons:hover {
  color: #333333;
}

.nav-link {
  color: #fffcff !important;
  letter-spacing: 0.08em;
  font-weight: 400;
  font-size: 1.05rem;
  text-decoration: none;
}

.nav-link.mobile {
  color: #fffcff !important;
  letter-spacing: 0.08em;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #333333;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}
.nav-link.active::after {
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
  color: #fffcff;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #fffcff;
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1rem;
  }
}

.highlight {
  background-color: #333333;
  padding: 2px 4px;
  border-radius: 8px;
  white-space: nowrap;
}

.links {
  color: #fffcff;
}

.mobileNav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 252, 255, 0.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1;
}

.mobileNav.open {
  transform: translateX(0);
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.2);
}

.toggleBtn {
  background: none !important;
  border: none !important;
  position: relative;
  z-index: 999;
}

.mobileNav.open {
  transform: translateX(0); /* Slide in when the class is added */
}

.mobIcons {
  color: #fffcff;
  transition: color 0.3s ease;
}
