body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.yellowBg {
  background-color: #f5ce0e;
}

.redBg {
  background-color: #ff5f45;
}

.blueBg {
  background-color: #0798eb;
}

.pinkBg {
  background-color: #fd6c7d;
}

.notFoundBg {
  background-color: #333333;
}

.icons {
  color: #333333;
  transition: color 0.3s ease;
}

.icons:hover {
  color: #fffcff;
}

h1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
  color: #fffcff;
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #fffcff;
}

.highlight {
  background-color: #333333;
  padding: 2px 4px;
  border-radius: 8px;
}

.links {
  color: #fffcff;
}
